@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Zen+Antique&display=swap');
*{box-sizing: border-box;
    margin:0;
    padding: 0;
}
html,body {
    margin:0;
    padding:0;
}

.video-container{
    box-sizing: border-box;
    background-color: black;
opacity: 0.8;
}
.med-text{
    font-size: 25px;
font-weight: 800;
margin-top: 200px;
text-align: center;

align-items: center;
padding-left: 10%;
padding-right: 10%;
}
.small-text{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2%;
}
.buttons{
    
    font-size: 15px;
    text-align: center;
    color: black;
    border: 1px solid grey;
    padding: 15px 32px;
    border-radius: 4px;
    align-items: center;
    margin-left: 45%;
    margin-top: 2%;
    background-color: Transparent;
}
.buttons a{
    text-decoration: none;
    text-align: center;
    color: black;

}
/*navbar*/

h3{
    font-size: 45px;
    font-weight: 800;
width: 100%;
padding: 15px;

}
.upperlinks a{
    text-decoration: none;
    color: black;
    font-weight: 300;
margin-top: 10px;
color: ivory;
padding: 10px;
font-size: 18px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.upperlinks a:hover{
    background-color: grey;
}
.upperlinks li{
display: inline-flex;
color: ivory;
}
.upperlinks{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(56, 54, 54);
}
.upperlinks h3{
color: ivory;}
.upperlinks ul{
width: 100%;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.001s;
    animation-name: fade;
    animation-duration: 0.001s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  

/* .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
} */

